set surround
set incsearch
set hlsearch

let mapleader = ","

map <Space> zz

nmap <leader>rc :action ReformatCode<CR>

nmap <leader>gf :action GotoFile<CR>
nmap <leader>gc :action GotoClass<CR>
nmap <leader>gs :action GotoSymbol<CR>
" nmap <leader>o :action 
